.table-container {
	overflow-y: auto;
	height: 525px;
	width: 53.4%;
	margin: auto;
}
.table-container thead th {
	position: sticky;
	top: 0;
}
.table-controler {
	position: sticky;
	bottom: 0px;
	background-color: #04aa6d;
	color: white;
	width: 53.4%;
	margin: auto;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

table td,
table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #f2f2f2;
}

table tr:hover {
	background-color: black;
	color: #04aa6d;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04aa6d;
	color: white;
}
